@-moz-document url("chrome://browser/content/browser.xul") {
        #sidebar-header,#addon-bar,
        #navigator-toolbox > toolbar:not(#toolbar-menubar):not([autohide="true"]),
        #navigator-toolbox > #toolbar-menubar > toolbarspring,
        #navigator-toolbox > #toolbar-menubar:not([autohide="true"]) {
                -moz-binding: url("chrome://global/content/bindings/toolbar.xml#toolbar-drag") !important;
        }
}

#oxygenkde_minimize-button,#oxygenkde_maximize-button,#oxygenkde_close-button {
        list-style-image: url("chrome://macfox3kde/content/window_controls/min.png") !important;
        border:none !important;
}

toolbar[id="toolbar-menubar"] #oxygenkde_minimize-button,
toolbar[id="toolbar-menubar"] #oxygenkde_maximize-button,
toolbar[id="toolbar-menubar"] #oxygenkde_close-button {
        margin: -5px 2px 0px 2px;
}

toolbar[id="TabsToolbar"] #oxygenkde_minimize-button,
toolbar[id="TabsToolbar"] #oxygenkde_maximize-button,
toolbar[id="TabsToolbar"] #oxygenkde_close-button {
        margin: -5px 2px -5px 2px;
}

#main-window[inFullscreen="true"] #oxygenkde_close-button,
#main-window[inFullscreen="true"] #oxygenkde_maximize-button,
#main-window[inFullscreen="true"] #oxygenkde_minimize-button {
        display:none !important;
}

/* MINIMIZE */
#oxygenkde_minimize-button,
toolbar[iconsize=small] #oxygenkde_minimize-button {
        -moz-image-region: rect(0px 16px 16px 0px);
}
#oxygenkde_minimize-button:hover,
toolbar[iconsize=small] #oxygenkde_minimize-button:hover {
        -moz-image-region: rect(0px 32px 16px 16px);
}
#oxygenkde_minimize-button:hover:active,
toolbar[iconsize=small] #oxygenkde_minimize-button:hover:active {
        -moz-image-region: rect(0px 48px 16px 32px);
}

/* MAXIMIZE */
#oxygenkde_maximize-button,
toolbar[iconsize=small] #oxygenkde_maximize-button {
        -moz-image-region: rect(16px 16px 32px 0px);
}
#oxygenkde_maximize-button:hover,
toolbar[iconsize=small] #oxygenkde_maximize-button:hover {
        -moz-image-region: rect(16px 32px 32px 16px);
}
#oxygenkde_maximize-button:hover:active,
toolbar[iconsize=small] #oxygenkde_maximize-button:hover:active {
        -moz-image-region: rect(16px 48px 32px 32px);
}

/* CLOSE */
#oxygenkde_close-button,
toolbar[iconsize=small] #oxygenkde_close-button {
        -moz-margin-end:3px;
        -moz-image-region: rect(32px 16px 48px 0px);
}
#oxygenkde_close-button:hover,
toolbar[iconsize=small] #oxygenkde_close-button:hover {
        -moz-image-region: rect(32px 32px 48px 16px);
}
#oxygenkde_close-button:hover:active,
toolbar[iconsize=small] #oxygenkde_close-button:hover:active {
        -moz-image-region: rect(32px 48px 48px 32px);
}

/* RESTORE */
#main-window[sizemode="maximized"] #oxygenkde_maximize-button {
        -moz-image-region: rect(48px 16px 64px 0px);
}
#main-window[sizemode="maximized"] #oxygenkde_maximize-button:hover {
        -moz-image-region: rect(48px 32px 64px 16px);
}
#main-window[sizemode="maximized"] #oxygenkde_maximize-button:hover:active {
        -moz-image-region: rect(48px 48px 64px 32px);
}

#oxygenkde_minimize-button[disabled=true],toolbar[iconsize=small] #oxygenkde_minimize-button[disabled=true],
#oxygenkde_maximize-button[disabled=true],toolbar[iconsize=small] #oxygenkde_maximize-button[disabled=true],
#oxygenkde_close-button[disabled=true],toolbar[iconsize=small] #oxygenkde_close-button[disabled=true] {
        opacity:.5;
}